In [1]:
print("Hello World")

Hello World

In [2]:
print(45)

45

In [3]:
print(45.6)

45.6

In [4]:
type("4545")

str

In [5]:
print("This is Ahmed's laptop")

This is Ahmed's laptop

In [8]:
print("hi",123,4545.5, sep="==")

hi==123==4545.5

In [9]:
print(str(2) + "hello")

2hello

In [12]:
print(2+int("100")) # type casting

102

In [16]:
name = "mubashir"
age = 25
print("my name is {0} and age is {1}".format(name,age))

my name is mubashir and age is 25

In [17]:
name = "mubashir"
age = 25
print(f"my name is {name} and age is {age}")

my name is mubashir and age is 25

In [19]:
print(4*"hello"*4)

hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello

In [22]:
a = 10
b = 3
c = a/b*
c

1